@{
    ViewData["Title"] = "Home Page";
}
<h3><b><marquee direction="right">LIBRARY MANAGEMENT SYSTEM</marquee></b></h3>
<div class="positon-relative">
    <img class="bg-img" src="https://camo.githubusercontent.com/1edd75be9b2c1739f51d6f0a9d5da43a657eb59f6936a580dd95e6725a757f87/68747470733a2f2f7777772e706978656c2d73747564696f732e636f6d2f626c6f672f77702d636f6e74656e742f75706c6f6164732f323031382f31322f3031322e6a7067" height="500" width="1200" />
</div>
